[Unit]
Description=Promethes Server Version {{ prometheus_version }}
Wants=network-online.target
After=network-online.target

[Service]
User={{ prometheus_user }}
Group={{ prometheus_group }}
Type=simple
ExecStart={{ prometheus_bin }}\
--config.file {{ prometheus_dir_configuration }}/prometheus.yml \
--storage.tsdb.path {{ prometheus_var }} \
--web.console.templates={{ prometheus_dir_configuration }}/consoles \
--web.console.libraries={{ prometheus_dir_configuration }}/console_libraries

[Install]
WantedBy=multi-user.target